:root {
  --c-text-primary: #000000;
  --c-text-secondary: #ffffff;
  --c-text-tertiary: #b4b3b8;
  --c-text-action: #ee1a31;
  --c-text-error: #ee1a31;
  --c-accent-primary: #ee1a31;
  --c-accent-secondary: #ebae37;
  --c-border-primary: #2f2e36;
  --c-background-primary: #192134;
  --c-background-secondary: #ffffff;
  --c-background-tertiary: #232228;
  --c-background-quaternary: #2f2e36;
  --c-background-quinternary: #f5f5f5;
  --c-background-sixternary: #eef0ef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 1rem 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header .logo span {
  color: #41719C;
}

header .navbar a {
  font-size: 2rem;
  padding: 0 1.5rem;
  color: #666;
}


.main h1 {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.25;
  display: flex;
  justify-content: center;
} 


.footer {
    padding: 0px;
    background: var(--c-background-primary);
}
.footer-textolegal {
    padding: 0px;
    background: var(--c-background-quinternary);
}
.footer .padding {
    max-width: 1920px;
    padding: 3rem 0rem 3rem 0rem;
}
.footer p {
    font-size: 0.875rem;
    text-align: center;
    color: var(--c-text-primary);
}
.footer .logo {
    position: relative;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}
.footer .logo img {
    width: 100%;
    max-width: 100px;
}
.footer .redes img {
    width: 100%;
    max-width: 40px;
    display: inline-block;
    margin-left: 5px;
}
.footer .redes a {
  text-decoration: none;
}
@media (max-width: 991px){
  .footer .logo img {
    display: inline-block;
    width: inherit;
    max-width: 100%;
  }
  .footer .redes {
    width: 90%;
  }
}

